.main-container {
  margin: 2rem;
}
.title {
  font-weight: bold;
  font-size: larger;
}

.img {
  max-width: 600px;
  max-height: 600px;
}
.formContainer {
  display: flex;
  flex-direction: column;
}

.optionContainer {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.configDescription {
  gap: 4px;
  display: flex;
  flex-direction: row;
}
